<nav class="pure-menu pure-menu-horizontal pure-menu-fixed">
  <div class="left-side">
    <div class="pure-menu-heading">
      <a href="{{ site.url }}"><img class="logo-sm" src="{{ site.url }}/images/caplast-sm.png" alt="Caplast S.R.L." /></a>
    </div>

    <div class="hidden-sm">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ site.url }}/#" class="pure-menu-link">Inicio</a></li>
        <li class="pure-menu-item"><a href="{{ site.url }}/#about-us" class="pure-menu-link">Sobre nosotros</a></li>
        <li class="pure-menu-item"><a href="{{ site.url }}/#news" class="pure-menu-link">Novedades</a></li>
      </ul>
    </div>
  </div>

  <div class="right-side">
    <a href="{{ site.url }}/contact" class="pure-button pure-button-primary">Contacto</a>
  </div>
</nav>
